.shrink.navbar-fixed-top {
 background-color: white;
padding:2px 2px;
  -webkit-transition: padding 0.5s; /* Safari */
           transition:padding 0.5s;

}
.nav.shrink>li>a{
  font-size:18px; 
  -webkit-transition: font-size 0.5s; /* Safari */
           transition:font-size 0.5s;
}
} 
.navbar-fixed-top{
	color:yellow;

}
         .nav>li a{
          color:#e6b800;
          -webkit-transition: color 1s; /* Safari */
           transition: color 1s;
           -webkit-transition: font-size 0.5s; /* Safari */
           transition:font-size 0.5s;
}
         }  
         .nav>li>a:hover{
          color:red;
          background-color:transparent; 
         }
         .navbar-fixed-top{
          background-color:white;padding:10px 10px;
          -webkit-transition: padding 0.5s; /* Safari */
           transition:padding 0.5s;

         }
         #customnav{}
         